{% extends "base.html" %} 
{% load static %}
{% block content %}

<div class="container">
  <div class="card shadow" style="width: auto;">
    <div class="d-flex">
      <div style="width: 40%;">
        <img src="https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 100%; width: 100%; object-fit: cover;" alt="...">
      </div>
      <div class="card-body flex-grow-1">
        <h2 class="card-title text-center">Register</h2>
        <div class="card-text">
          <form action="" class="content-form" method="post" novalidate>
            {% csrf_token %}
            <div class="form-floating mt-3">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Name"
                required
              />
              <label for="name" class="form-label">Name</label>
            </div>
            <div class="form-floating mt-3">
              <input
                type="text"
                name="username"
                class="form-control"
                id="username"
                placeholder="Username"
                required
              />
              <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mt-3">
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Place Email Here"
                required
              />
              <label for="email" class="form-label">Email</label>
              <div class="invalid-feedback">Invalid Email</div>
              <div class="valid-feedback">Valid Email</div>
            </div>
            <div class="form-floating mt-3">
              <input
                type="password"
                name="password1"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              />
              <label for="password" class="form-label">Password</label>
            </div>
            <div class="form-floating mt-3">
              <input
                type="password"
                name="password2"
                class="form-control"
                id="conf-pass"
                placeholder="Password"
                required
              />
              <label for="conf-pass" class="form-label">Confirm Password</label>
            </div>
            <div class="form-floating mt-3">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %} {% block script %}
<script>
  const form = document.querySelector(".content-form");
  const inpts = document.querySelectorAll("input");

  form.addEventListener("submit", function (e) {
    if (!form.checkValidity()) {
      e.preventDefault();
    }
    form.classList.add("was-validated");
  });
</script>
{% endblock script %}
